<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Book Notes | Jonathan Afugwobi</title>
        <link rel="stylesheet" href="/styles/style.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>

        <div class="main">
            <div class="container">
                <div class="display">
            
                    <div class="book-details">
                        <img src="<%= coverUrl %>" alt="Book Cover for ISBN: <%= item[0].isbn %>" class="detail-img">
        
                        <div class="infos">
                            <div class="top">
                                <h2 class="detail-title"><%= item[0].title %></h2> 
    
                                <p class="mg-tp"><strong>ISBN:</strong> <%= item[0].isbn %></p>
                    
                                <p class="mg-tp"><strong>Date read:</strong> <%= item[0].date %></p>
                    
                                <p class="mg-tp"><strong>My rating on this book:</strong> <%= item[0].rating %>/10</p>
                            </div>
    
                            <div class="bottom">
                                <p>See more details and reviews on <a href="https://www.amazon.com/s?k=<%= item[0].isbn %>" 
                                    target="_blank">Amazon</a>
                                </p>
                    
                                <a href="/" class="all-books">Go Back to all Books</a>
                    
                                <div class="buttons">
                                    <a href="/edit/<%= item[0].id %>" class="edit-btn">Edit Book</a>
                                    <a href="/delete/<%= item[0].id %>">Delete Book</a>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    
                    <!-- Convert a newline character to a break tag for white space -->
                    <p><%- item[0].summary.replace(/\n/g, '<br>') %></p>
        
                    <h2 class="note">My Notes:</h2>
        
                    <p><%- item[0].note.replace(/\n/g, '<br>') %></p>
        
                </div>
            </div>
        </div>
    
        <footer>
            <p>Copyright &copy; <%= new Date().getFullYear() %> - Jonathan Afugwobi || All rights reserved.</p>
        </footer>

        <script src="/js/main.js"></script>
    </body>
</html>