<%- include("partials/header.ejs") %>

    <main>
        <div class="container" id="user-display">
            <div class="display">

                <a href="/profile" class="all-books"><i class='bx bx-arrow-back' id="disp-back-arrow"></i></a>
        
                <div class="book-details">

                    <button id="back-to-top"><i class='bx bx-up-arrow-alt'></i></button>

                    <figure>
                        <img src="<%= item[0].book_cover %>" alt="Book Cover" class="detail-img" loading="lazy" onerror="this.onerror=null; this.src='/images/default.png';">
                    </figure>

                    <div class="infos">
                        <div class="top">
                            <h2 class="detail-title"><%= item[0].title %></h2> 
                
                            <p class="newColor mg-tp"><strong class="strong">Posted on:</strong> <%= item[0].formatted_timestamp %></p>

                            <% if (source_table === "with_isbn") { %> 
                                <p class="newColor mg-tp"><strong class="strong">ISBN:</strong> <%= item[0].isbn %></p>
                            <% } %>
                
                            <p class="newColor mg-tp"><strong class="strong">My rating on this book:</strong> <%= item[0].rating %>/10</p>
                        </div>

                        <div class="bottom">
                            <% if (source_table === "with_isbn") { %> 
                                <p class="newColor">See more details and reviews on <a href="https://www.amazon.com/s?k=<%= item[0].isbn %>" 
                                    target="_blank">Amazon</a>
                                </p>
                            <% } %>
                
                
                            <div class="buttons">
                                <a href="/edit/<%= source_table %>/<%= item[0].id %>" class="edit-btn btnn" role="button">Edit Book</a>
                                <a href="/delete/<%= source_table %>/<%= item[0].id %>" class="btnn" role="button">Delete Book</a>
                            </div>
                        </div>
                    </div>
                </div>

                <% if (locals.error) { %> 
                    <p style="color: red;"> <%= error %> </p>
                <% } %>
                
                <!-- Convert a newline character to a break tag for white space -->
                <p class="dis-p"><%- (item[0] && item[0].summary) ? item[0].summary.replace(/\n/g, '<br>') : 'No summary available' %></p>


                <h2 class="note">My Notes:</h2>
             
                <p class="dis-p"><%- (item[0] && item[0].note) ? item[0].note.replace(/\n/g, '<br>') : 'No note available' %></p>

            </div>
        </div>
    </main>

<%- include("partials/footer.ejs") %>