<%- include("partials/header.ejs") %>

    <main>
        <section id="add-book">
            <div class="container">
                <div class="add-book">
                    <p class="book-p details">Details of new Book</p>
    
                    <a href="/no_isbn" class="no-isbn-link">Use this link for Non-ISBN Books.</a>
    
                    <% if (locals.error) { %> 
                        <p style="color: red;" class="add-error"> <%= error %> </p>
                    <% } %>

                    <form action="/book" method="POST" id="new">
                        <input type="text" name="title" id="new-title" value="<%= formData?.title || '' %>" placeholder="Book Title" required>
            
                        <input type="number" name="isbn" id="isbn" value="<%= formData?.isbn || '' %>" placeholder="ISBN" required>
            
                        <input type="text" name="rating" id="rating" value="<%= formData?.rating || '' %>" placeholder="Rate the book over 10" maxlength="2" required>
    
                        <textarea name="summary" id="summary" rows="5" placeholder="Book Summary" required><%= formData?.summary || '' %></textarea>
            
                        <textarea name="note" id="note" rows="10" placeholder="Your Notes..."><%= formData?.note || '' %></textarea>
     
            
                        <div class="add-btns">
                            <button type="submit">Add</button>
                            <a href="/profile" role="button" class="cancel"> Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>

<%- include("partials/footer.ejs") %>